<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Skeleton App</title>
        <script src="{{static}}/skeleton/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <h1>Welcome to skeleton app</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
